/* Estilos adicionales para el Slider */
.slide-content {
    width: 50%; /* Ajusta el ancho según tus necesidades */
    max-width: 400px; /* Ancho máximo de la imagen */
    margin: 0 auto; /* Centra el contenido */
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}